@model MyShop.ViewModels.Product.ProductCategoryViewModel

<ul class="nav product-tab-list">
    <li><a class="active" data-toggle="tab" href="#tab-all">all</a></li>
    @foreach (var item in Model.Categories)
    {
        <li>
            <a data-toggle="tab" href="#tab-@item.Name">
                @item.Name
            </a>
        </li>
    }
    @*<li><a class="active" data-toggle="tab" href="#tab-one">all</a></li>
    <li><a data-toggle="tab" href="#tab-two">LAPTOP</a></li>
    <li><a data-toggle="tab" href="#tab-one">DRONE</a></li>
    <li><a data-toggle="tab" href="#tab-two">TV & AUDIO</a></li>
    <li><a data-toggle="tab" href="#tab-one">PHONE & TABLET</a></li>
    <li><a data-toggle="tab" href="#tab-two">CAMERA & PRINTER</a></li>*@
</ul>