@model Order

@{
    ViewBag.Title = "title";
}

<!-- Track Order Section Start -->
<div class="track-order-section section mt-90 mb-50">
    <div class="container">
        <div class="row align-items-center">

            <div class="track-order-title text-center col-12 mb-80">
                <h2>Ваш заказ успешно отправлен...</h2>
                <p>
                    Чтобы отслеживать свой заказ, перейдите на страницу отслеживания заказа. 
                    Это было указано в квитанции и в электронном письме с подтверждением, которое вы должны были получить.
                </p>
                <form asp-controller="Order" asp-action="Invoice">
                    <button class="btn btn-circle btn-small">
                        Download invoice
                    </button>
                    <input type="hidden" asp-for="Id" name="orderId">
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Track Order Section End -->
